body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin-top: 100px;
}

.App {
  text-align: center;
}



.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.register-form:hover{
  cursor: pointer;
  border-color: #3c3a3a;

}

.register-form h1,
.register-form h2 {
  text-align: center;
}

.register-form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}

.register-form ul {
  list-style-type: none;
  padding: 0;
}

.register-form li {
  padding: 7px;
  color: red;
  border-bottom: 1px solid #ccc;
}